.chat {
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

.chat-header .chat-header-info {
    flex: 1;
    padding-left: 15px;
}

.chat-header .chat-header-info h3 {
    font-weight: 500;
    margin-bottom: 3px;
}

.chat-header .chat-header-info p {
    color: grey;
}

.chat-header .chat-header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-body {
    flex: 1;
    background: url("https://res.cloudinary.com/dktwlx0dz/image/upload/v1686396912/How_to_make_backgrounds_like_the_default_WhatsApp_wallpaper_DEV_jchg0p.png") repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat-body::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.chat-body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.chat-message {
    background-color: #fff;
    width: fit-content;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    font-size: 16px;
    position: relative;
    word-break: break-all;
}

.chat-receiver {
    background-color: #dcf8c6;
    margin-left: auto;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
}

.chat-message .chat-name {
    font-size: xx-small;
    font-weight: 800;
    position: absolute;
    top:-15px;
}

.chat-message .time-stamp {
    font-size: xx-small;
    margin-left: 10px;
}

.chat-footer {
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.chat-footer > form {
    flex: 1;
    display: flex;
}

.chat-footer > form > input {
    flex: 1;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px;
}
.chat-footer > form > button {
    display: none;
}

.chat-footer .MuiSvgIcon-root {
    padding: 10px;
    color: grey;
}