.sidebar-chat {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #f6f6f6;
    cursor: pointer;
}

.sidebar-chat:hover {
    background-color: #ebebeb;
}
.sidebar-chat-info {
    margin-left: 15px;
}

.sidebar-chat-info h1 {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebar-chat-info p {
    font-size: 14px;
}

a, a:active {
    text-decoration: none;
    color: black;
}
